* {
    background: white;
}

.heading {
    text-align: center;
    margin: 1rem 36rem;
    border: 5px groove gray;
    border-radius: 25%;
    padding: 2px;
    font-size: 18px;
}
p {
    font-size: 14px;
}
#firstpara {
    margin: 0px 400px;
    text-align: center;
    border: 3px ridge gray;
    padding: 20px;
    color: green;
}#secondpara {
    margin: 0px 400px;
    text-align: center;
    border: 3px groove gray;
    padding: 20px;
    color: red;
}#thirdpara {
    margin: 0px 400px;
    text-align: center;
    border: 3px groove gray;
    padding: 20px;
    color: blue;
}